<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="JavaScript, AngularJS and HTML5 engineer helping build a better web.">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//plus.google.com/+ToddMotto" rel="author">
    <link href="/css/style.min.css" rel="stylesheet">
  </head>
  <body{% if page.class %} class="{{ page.class }}"{% endif %}>

    <div class="sidebar clear">
      <div class="sidebar__profile">
        <a href="/">
          <img src="/img/vahid.jpeg" alt="Vahid Taghizadeh" class="sidebar__profile-img">
        </a>
        <h1 class="sidebar__profile-name">
          Vahid Taghizadeh
        </h1>
        <div class="sidebar__profile-bio clear">
          <p>
            Founder & CTO @<a href="http://camva.ir" target="_blank">Camva</a><br>
            JavaScript, BackboneJs, Laravel. Newbie Entrepreneur.<br>
          </p>
        </div>
        <div class="sidebar__profile-social">
          <a href="//twitter.com/vah7id" class="twitter-follow-button" data-show-count="true">
            Follow @vah7id
          </a>
        </div>
        <nav class="sidebar__profile-nav">
          <ul>
            <li>
              <a href="/">
                Posts
              </a>
            </li><!--
            --><li>
              <a href="/about">
                About
              </a>
            </li><!--
            --><li>
              <a href="/feed.xml">
                RSS
              </a>
            </li><!--
            --><li>
              <a href="//github.com/vah7id">
                GitHub
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
